.input-field > label {
    color: white;
}

input {
    color: white;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15px;
    width: 15px;
}

.delete-button img {
    height: 100%;
}

nav {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div {
    height: 100%;
    width: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    height: 32px;
    display: flex;
    align-items: center;
}

nav a img {
    height: 100%;
}

label[for="date"] {
    transform: translateY(-14px) scale(0.8);
}

.appName {
    color: #fff;
    font-size: 2.1rem;
}

.addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}

.addBtn img {
    margin-right: 10px;
}

.materialert {
    position: relative;
    min-width: 150px;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: all 0.1s linear;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
}

.materialert.success {
    background-color: #43a047;
    color: #fff;
}
.materialert.error {
    background-color: #c62828;
    color: #fff;
}
